= content_for :title, 'Choose a Service'

%ol.breadcrumb
  %li
    = link_to 'Services', services_path
  %li.active Choose a Service

%table.table.table-striped.well
  %tr
    %th Service
    %th Image
  - Service::SERVICES.each do |service, image|
    %tr
      %td
        = link_to service, new_service_path(service: service)
      %td
        = image
        \:latest
