= content_for :title, 'Choose a Service'

%h1.lead Choose a Service

%table.table.table-striped.well
  %tr
    %th Service
    %th Location
  - Service::SERVICES.each do |service, images|
    %tr
      %td= service
      %td
        = link_to 'Hosted', new_service_path(service: service, hosted: true), class: 'btn btn-xs btn-primary'
        = link_to 'External', new_service_path(service: service, hosted: false), class: 'btn btn-xs btn-primary'
