%h1.lead
  Storage Providers
  .pull-right
    = link_to '+', new_storage_provider_path, class: 'btn btn-success'

- if @providers.any?
  %table.table.table-striped
    %tr
      %th Name
      %th Provider
    - @providers.each do |provider|
      %tr
        %td= provider.name
        %td= provider.provider
- else
  %p.alert.alert-info You have not launched any services yet
