@import "variables";
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: $navbar-height + $grid-gutter-width;
}

// Copied from devise_bootstrap_views, not sure if we care about it
.float-none {
  float: none;
}
.panel-heading {
  padding: 15px;
  h4 {
    margin: 0px;
  }
}
