<!DOCTYPE html>
<html>
  <head>
    <title>Prototyper</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Prototyper</a>
        </div>
      </div>
    </nav>

    <div class="container" style="margin-top: 80px;">
      <%= yield %>
    </div>
  </body>
</html>
